.plans {
    margin-top: 140px;
    margin-bottom: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 23px;
        color: #eb8382;
        font-size: 68px;
        font-style: normal;
        font-weight: 700;
        line-height: 75px; /* 110.294% */
    }

    h4 {
        color: #446381;
        font-size: 23px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 104.348% */
    }

    .cards {
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .cards-header {
        margin-top: 13px;
        width: 360.182px;
        height: 566px;
        background-color: #fbdacf;
        border-radius: 20px;
        box-sizing: border-box;
        padding-top: 36px;
        padding-left: 46px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: start;
    }

    h3 {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        color: $main-black;
    }

    h2 {
        margin-top: 14px;
        font-size: 45px;
        color: $secondary-brown;
    }

    span {
        font-size: 16px;
    }

    button {
        @include mainBtn;
        margin-top: 13px;
    }

    p {
        margin-left: 20px;
    }

    div {
        position: relative;
        display: flex;
        align-items: center;
    }

    .button {
        margin-top: 52px;
        padding-inline: 67px;
    }

    .cards-header:hover{
        transform: scale(1.15);
        transition: 0.7s;
        background: linear-gradient(#476482,#816F8C);
        
        h3{
            color: white;
        }
        p{
            color: white;
        }
        div path {
            fill: #fff;
        }
    }
}
